{% load static %}

<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">


  {% load static %} 

  <nav class="navbar navbar-light" >

  <a class="navbar-brand" >
    <img src="{% static "incident_sheet/incident_blue.png" %}" width="30" height="30" class="d-inline-block align-top" alt="">
    Incidents Techniques

  </a>
</nav>

<body>



<table class="table table-hover">

<thead class="table-primary"><th>Incident</th><th></th></thead> 

<tbody>
  <tr><td>Title:</td> <td>{{ incident.title }}</td></tr>        
  <tr><td>Impact:</td> <td>{{ incident.impact }}</td></tr>       
  <tr><td>Date:</td> <td>{{ incident.date }}</td></tr>         
  <tr><td>Impact:</td> <td>{{ incident.impact }}</td></tr>       
  <tr><td>Description:</td> <td>{{ incident.description }}</td></tr>  
  <tr><td>Investigation:</td> <td>{{ incident.investigation }}</td> </tr>
  <tr><td>Root_cause:</td> <td>{{ incident.root_cause }}</td></tr>   
  <tr><td>To_do:</td> <td>{{ incident.to_do }}</td></tr>        
</tbody>
</table>

<button type="button" class="btn btn-outline-primary"><a href="{% url 'all' %}">Go back</a></button>
