{% load static %}

<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">


  {% load static %} 

  <nav class="navbar navbar-light" >

  <a class="navbar-brand" >
    <img src="{% static "incident_sheet/incident_blue.png" %}" width="30" height="30" class="d-inline-block align-top" alt="">
    Incidents Techniques

  </a>
</nav>

<body>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<canvas id="myChart" width="400" height="50"></canvas>
<script>
const ctx = document.getElementById('myChart').getContext('2d');
const myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [{% for i in barchart_labels %} '{{i}}', {% endfor %}] ,
        datasets: [{
            label: '# of Incidents',
            data: [{% for i in barchart_values %} '{{i}}', {% endfor %}],
            backgroundColor: [
                'rgba(54, 162, 235, 0.2)',
            ],
            borderColor: [
                'rgba(54, 162, 235, 1)',
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>
 
<script>
  const myChart = new Chart(
    document.getElementById('myChart'),
    config
  );
</script>

<button type="button" class="btn btn-outline-primary"><a href="{% url 'new_incident' %}"> Create new incident  </a></button>

<table class="table table-hover">


<thead class="table-primary"><th>Date</th>  <th>Title</th> <th>Impact</th> <th>Description</th> <th>Investigation</th> <th>Root_cause</th> <th>To_do</th><th>Detail</th></thead> 
<tbody>
    {% for incident in incident_list %}
        <tr> 
        <td>{{ incident.date }}</td>
        <td>{{ incident.title }}</td>
        <td>{{ incident.impact }}</td>
        <td>{{ incident.description }}</td>
        <td>{{ incident.investigation }}</td>
        <td>{{ incident.root_cause }}</td>
        <td>{{ incident.to_do }}</td>
        <td><a href="/incidents/{{ incident.id }}/">detail</a></td>
        </tr>
    {% endfor %}
</tbody>
</table>


