{% load static %}

<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">


  {% load static %} 

  <nav class="navbar navbar-light" >

  <a class="navbar-brand" >
    <img src="{% static "incident_sheet/incident_blue.png" %}" width="30" height="30" class="d-inline-block align-top" alt="">
    Incidents Techniques

  </a>
</nav>

<body>



<table class="table table-hover">


<tbody>
  <form method="post">
  <fieldset>
    <legend> <h1> New Incident</h1> </legend>
      {% csrf_token %}
      <table>
      {{ form.as_table }}
      </table>
    
  </fieldset>
      <input class="btn btn-outline-success" type="submit" value="Create">

  </form>
</tbody>
</table>

<button type="button" class="btn btn-outline-primary"><a href="{% url 'all' %}">Go back</a></button>
</body>
